<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
      {% if site.avatar %}
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>
      {% endif %}

      <nav>
        <a href="{{ site.baseurl }}/">{{ site.name }}</a>
        {% if paginator.next_page %}
        <a href="{{ site.baseurl}}{{ paginator.next_page_path }}">Suivant</a>
        {% endif %}
        {% if paginator.previous_page %}
        <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Précédent</a>
        {% endif %}
        {% for nav in site.navigation %}
        {% if nav.url contains 'http://' or nav.url contains 'https://' %}
        <a href="{{ nav.url }}">{{ nav.name }}</a>
        {% else %}
        <a href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
        {% endif %}
        {% endfor %}
      </nav>
    </header>
  </div>
</div>
