---
layout: default
---

<article class="post">
  <h1>
    <a href="{{ page.link }}">{{ page.title }}</a>
  </h1>

  <div clsss="meta">
    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.baseurl }}/tags#{{ tag }}">
          {{ tag }}
        </a>
      </li>
      {% endfor %}
    </ul>

    <span class="date">
      Posté sur {{ site.name }} le {{ page.date | date: "%Y-%m-%d" }}
    </span>
  </div>

  <div class="page-entry">
    <p>{{ page.excerpt }}</p>
  </div>

  {% include disqus.html %}

  <div class="pagination">
    {% if page.previous.url %}
      <span class="prev" >
          <a href="{{ site.baseurl }}{{ page.previous.url }}">
              &#8249; {{ page.previous.title }}
          </a>
      </span>
    {% endif %}
    {% if page.next.url %}
      <span class="next" >
          <a href="{{ site.baseurl }}{{ page.next.url }}">
            {{ page.next.title }} &#8250;
          </a>
      </span>
    {% endif %}
  </div>

</article>
